@main_blue: #2a82e4;
@shallow_blue: #579dff;

html {
	overflow-y: overlay;
}

body {
	height: auto;
	background-color: #f4f4f4;
}

input:-webkit-autofill {
	box-shadow: 0 0 0px 1000px white inset;
}

.fold {
	width: calc(100% - 216px);
	display: inline-block;
}

.operator {
	margin-bottom: 18px;
}

@media screen and (max-width: 900px) {
	.fold {
		width: 100%;
	}
}

.operator button {
	margin-right: 5px;
}

i {
	cursor: pointer;
}

.drawer-bootom-button {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #e8e8e8;
	padding: 10px 16px;
	text-align: right;
	left: 0;
	background: #fff;
	border-radius: 0 0 2px 2px;
	z-index: 1;
}
